PORT=5000
DATABASE_URL=postgresql://<username>:<password>@<neon-hostname>/<database_name>?sslmode=require
JWT_SECRET=your_jwt_secret_key_here
OFFICER_USERNAME=officer@jubilee.com
OFFICER_PASSWORD=your_officer_password_here
